/* Color Stuff */
.theme-dark {
  --background-primary: #22272e !important;
  --background-secondary: #1d2229 !important;
  --background-secondary-alt: #181d24 !important;
  --background-tertiary: #13181f !important;
  --background-message-hover: #21252b !important;
  --background-floating: #171a1f !important;

  --channeltextarea-background: #2d333b !important;
  --input-background: #10151c !important;
  --modal-background: var(--background-secondary) !important;
  --channels-default: #81a1c1 !important;
  --focus-primary: #00b0f4 !important;
  --primary-dark-630: var(--background-secondary-alt) !important;

  --background-modifier-selected: #2b3d58 !important;
  --background-modifier-hover: #202e42 !important;

  --background-mentioned: #1c2e46 !important;
  --background-mentioned-hover: #1a2a3f !important;

  --info-warning-foreground: #3e659a !important;

  --header-primary: #ffffff !important;
  --header-secondary: #81a1c1 !important;
  --text-normal: #dcddde !important;
  --text-muted: #80848c !important;
  --text-link: #00b0f4 !important;
  --divider-color: var(--text-link) !important;

  --mention-before-color: #3e659abb;
  --mention-color: #3e659a50;
  --mention-wrapper: var(--brand-experiment-30a);
  --mention-wrapper-text: var(--brand-experiment-330);
  --mention-wrapper-hover: 150%;
  --scrollbar-track: #1d2229;
  --scrollbar-thumb: #13181f;
}

.theme-light {
  --background-primary: #ddd8d1 !important;
  --background-secondary: #e2ddd6 !important;
  --background-secondary-alt: #e7e2db !important;
  --background-tertiary: #ece7e0 !important;
  --background-message-hover: #dedad4 !important;
  --background-floating: #e8e5e0 !important;

  --channeltextarea-background: #d2ccc4 !important;
  --input-background: #efeae3 !important;
  --modal-background: var(--background-secondary) !important;
  --channels-default: #7e5e3e !important;
  --focus-primary: #ff4f0b !important;
  --primary-dark-630: var(--background-secondary-alt) !important;

  --background-modifier-selected: #d4c2a7 !important;
  --background-modifier-hover: #dfd1bd !important;

  --background-mentioned: var(--brand-experiment-20a) !important;
  --background-mentioned-hover: var(--brand-experiment-30a) !important;

  --info-warning-foreground: #c19a65 !important;

  --header-primary: #000000 !important;
  --header-secondary: #7e5e3e !important;
  --text-normal: #232221 !important;
  --text-muted: #7f7b73 !important;
  --text-link: #00b0f4 !important;
  --divider-color: var(--text-link) !important;

  --mention-before-color: #c19b65bb;
  --mention-color: #c19b6550;
  --mention-wrapper: var(--brand-experiment-30a);
  --mention-wrapper-text: var(--brand-experiment-600);
  --mention-wrapper-hover: 50%;
  --scrollbar-track: #e2ddd6;
  --scrollbar-thumb: #d2ccc4;
}

html {
  --scrollbar-thin-thumb: var(--scrollbar-thumb) !important;
  --scrollbar-auto-thumb: var(--scrollbar-thumb) !important;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-thumb) !important;

  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-track) !important;
  --scrollbar-auto-track: var(--scrollbar-track) !important;
}

/* Channels */
.selected__11b62,
.modeSelected__473f1 {
  background-color: var(--background-modifier-selected) !important;
}
.containerDefault_ae2ea4:hover:not(.selected__11b62, :active) {
  background-color: var(--background-modifier-hover) !important;
}
.containerDefault_ae2ea4:active {
  background-color: var(--background-modifier-active);
}
.link_ddbb36 {
  background: transparent !important;
}
.containerDefault_ae2ea4 {
  border-radius: 0px !important;
  opacity: 1 !important;
  margin: 0px !important;
}
.wrapper__612a5:active > .wrapper__612a5 {
  background-color: unset;
}

/* Forum Channel */
.container-3wLKDe {
  background-color: var(--background-message-hover) !important;
}

/* User Banners */
.popoutBanner-16rVDY {
  background-color: var(--background-secondary-alt) !important;
}
.profileBanner-33-uE1 {
  background-color: var(--background-secondary-alt) !important;
}
.settingsBanner-15-pZk {
  background-color: var(--background-secondary-alt) !important;
}
.userProfileInnerThemedNonPremium-1gT-zY .profileBanner-2zIsK7 {
  background-color: var(--background-secondary-alt) !important;
}

/*Mac Topbar Buttons*/
.winButton_f17fb6 > svg {
  display: none;
}
.winButton_f17fb6:hover {
  background-color: rgba(0, 0, 0, 0);
}
.winButton_f17fb6 {
  pointer-events: none;
  margin-left: -3px;
}
.winButton_f17fb6::after {
  content: "";
  padding: 7px;
  border-radius: 50px;
  pointer-events: fill;
}
.winButtonClose__6396d {
  margin-right: 3px;
}
.winButtonClose__6396d::after {
  background-color: #ff605c;
}
.winButtonClose__6396d:hover::after {
  opacity: 0.5;
}
[class^="winButtonMinMax-"]::after {
  background-color: #ffbd44;
}
[class^="winButtonMinMax-"]:hover::after {
  opacity: 0.5;
}
[class^="winButtonMinMax-"]:last-child::after {
  background-color: #00ca4e;
}
[class^="winButtonMinMax-"]:last-child:hover::after {
  opacity: 0.5;
}

/* Reactions */
.reaction_ef7e09,
.reaction__4a43f {
  border: none;
  border-radius: 0px !important;
  background-color: var(--background-secondary-alt) !important;
}
.reactionMe__9fc5c,
.reactionMe__0fffc {
  background-color: var(--brand-experiment-50a) !important;
}
.reaction_ef7e09 .reactionInner_d6d30f,
.reaction__4a43f .reactionInner_bd636d {
  padding: 0 0.375rem;
}
.reaction_ef7e09 .reactionCount_b780c8,
.reaction__4a43f .reactionCount__2c34d {
  filter: brightness(var(--mention-wrapper-hover)); /* Re-used a lil bit of vars */
}

/* Search Bar */
.searchBar__5a20a {
  width: 28px;
  transition: width 0.3s ease-in-out;
  border-radius: 0px;
}

/* Hide Useless Buttons In Input Field */
.button__581d0[aria-label="Send a gift"],
.button__581d0[aria-label="Open GIF picker"],
.button__581d0[aria-label="Open sticker picker"] {
  display: none;
}

/* Input Field */
.form_d8a4a1 {
  background-color: var(--channeltextarea-background) !important;
  padding-left: 0px;
  padding-right: 0px;
}
.form_d8a4a1::before {
  display: none !important;
}
.channelTextArea_c2094b > .scrollableContainer_ff917f,
.channelTextArea_c2094b > .attachedBars_c1606a {
  padding-left: 16px !important;
  padding-right: 18px !important;
}
.buttons__7ecff {
  opacity: 0;
  transition: opacity 0.1s;
}
.channelTextArea_c2094b:hover .buttons__7ecff {
  opacity: 1;
}
.channelTextAreaDisabled_d0f0e8 {
  background-color: var(--channeltextarea-background) !important;
}

/* Search Modal Thing */
.searchResultsWrap__2e184 {
  width: 520px !important;
}
.searchOption__3c857::after,
.option__91497::after {
  display: none !important;
}

/* Wider Threads & Pins*/
.messagesPopoutWrap__10dd1,
.container__694a1 {
  width: 40vw !important;
}

/* User Info Field */
.container_debb33 > .avatarWrapper__500a6 {
  height: 20px !important;
  min-width: 15% !important;
  padding: 6px 7px 6px 4px !important;
}
.avatarWrapper__500a6 > .nameTag__77ab2 {
  /* Remove Name & Status */
  display: none !important;
}
.container_debb33 > .flex_f18b02 > .button_ae40a4 {
  min-width: 40% !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  background-color: var(--input-background) !important;
}
.container_debb33 div:has(button) {
  margin-left: 0px !important;
}

/* No Rounding */
.buttons__36852 > .wrapper__4e6b6,
.menu__088f7,
.labelContainer-2vJzYL,
.embedFull__14919,
.botTag__4211a,
.button_b82d53,
.select-1Ia3hD,
.component_d53fb7,
.contentWrapper_e0bb2c,
.userPopoutOuter-3AVBmJ,
.attachedBars_c1606a,
.mainCard__0ec2c,
.tag-19iIl1,
.memberInner__4dac6,
.lookFilled-yCfaCM,
.wrapper__4d4fe .controlButton__863c7,
.channelMention {
  border-radius: 0px !important;
}

/* Camera & Mute Buttons In Calls */
.wrapper__4d4fe .staticButton_e090bc {
  position: relative;
  border-radius: 0px !important;
}
.controlButton__863c7 .contextMenuNub_bea150 {
  border-radius: 0px;
}
.controlButton__863c7 .contextMenuNub_bea150:hover {
  background-color: var(--primary-dark-700) !important;
}

/* Topbar Discord Logo */
[class*="titleBar-"] > [class*="wordmark-"] {
  padding-left: 50% !important;
}

/* Remove Useless Buttons From Top Right */
[class*="iconWrapper-"][aria-label="Inbox"],
[class*="iconWrapper-"][aria-label="Help"] {
  display: none !important;
}

/* Message Mention */
.messageListItem__050f9 > .mentioned_fa6fd2::before {
  background-color: var(--mention-before-color) !important;
  width: 3px;
}
.messageListItem__050f9 > .mentioned_fa6fd2 {
  background-color: var(--mention-color) !important;
}
[class*="messageContent-"] > [class^="mention"][class*="wrapper-"] {
  color: var(--mention-wrapper-text) !important;
  background: var(--mention-wrapper) !important;
}
[class*="messageContent-"] > [class^="mention"][class*="wrapper-"]:hover {
  filter: brightness(var(--mention-wrapper-hover));
}

/* Embed, Codeblock & Image Shadows */
.imageWrapper__178ee,
.embedFull__14919 {
  box-shadow: 7px 5px 15px -5px rgba(0, 0, 0, 0.5);
}
code {
  box-shadow: 7px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

/* New Messages & Jump To Present Bar*/
.newMessagesBar__8b272,
.jumpToPresentBar__69174 {
  border-radius: 0px !important;
  opacity: 0.8 !important;
}

/* Random White Backgrounds (fix yo shit discord) */
.footerSeparator-VzAYwb {
  background-color: var(--background-secondary-alt) !important;
}

/* Channel Title Background */
.title_d4ba1a > div > .children_cde9af {
  background-color: var(--background-tertiary);
  padding: 3px 0px 3px 5px !important;
  margin-right: 8px !important;
}
.toolbar__62fb5 {
  padding: 3px 5px 3px 5px;
  background-color: var(--background-tertiary);
}
.toolbar__62fb5 > .iconWrapper_de6cd1 {
  padding: 1px 10px 5px 10px !important;
}
.toolbar__62fb5 > .iconWrapper_de6cd1 > .iconBadge__20a6b {
  margin-right: 22% !important;
}
[class^="container-"][aria-label*="Friends"] [class^="inviteToolbar-"] [class*="divider-"] {
  display: none;
}

/* Different Menu Backgrounds */
.reactors__0f305,
.message_ff43e6,
.pageWrapper_c182d3,
.directoryModal-YJsOMv,
.chat__52833,
.header__71942,
.perksModal-CLcR1c,
.uploadModal__6eb75,
.modalSize-3WSXDU,
.title_d4ba1a {
  background-color: var(--background-primary) !important;
}
.list__0870a,
.autocomplete__743a5 {
  background-color: var(--background-secondary-alt) !important;
}
.categoryHeader__70c8e {
  background-color: var(--background-tertiary) !important;
}

/* Higher Contrast For Forum Channel Post Amount Number */
.channelInfo_b0882c > .text-xs-semibold-3E_l31 {
  color: var(--channels-default) !important;
}

/* Server Folders*/
.expandedFolderBackground_b1385f,
.expandedFolderIconWrapper__324c1 {
  background-color: var(--channeltextarea-background);
}

/* Unread Pills (Server & Channel) */
.listItem__48528 > .pill__6b31b > .item_f9d377 {
  background-color: var(--header-secondary) !important;
}
.unreadImportant_e8bb44 {
  background-color: var(--header-secondary) !important;
}

/* User Modal */
[class^="userPopoutInner-"] [class*="eyebrow-"] {
  display: none !important;
}
[class*="activity-"] > [class^="headerContainer-"],
[class*="activity-"] > [class^="platformIcon-"] {
  display: none !important;
}
[class*="textarea-"][aria-label="Note"]:focus {
  height: 90px !important;
}
[class*="lastSection-"] > [class*="messageInputContainer-"] {
  display: none !important;
}
.role_d81130 {
  border: none !important;
}
